language: cpp
compiler: g++

sudo: required
dist: trusty

addons:
    apt:
        sources:
            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
        packages:
            - clang-3.7
            - g++-5
            - gcc-5
            - lcov

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
    - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.7" CC="clang-3.7"; fi

script:
  # Run the build script, telling it to run/upload coverage tests and install files
  # on local system (purely to make sure the install process works correctly)
  - ./tools/build.sh -i -c

after_success:
    # Creating report
#  - cd ${TRAVIS_BUILD_DIR}
#  - lcov --directory . --capture --output-file coverage.info # capture coverage info
#  - lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter out system
#  - lcov --list coverage.info #debug info
#  # Uploading report to CodeCov
#  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"